
body {
  background-color: #0C1114;
}

.container{
margin: 5% 15%;
display: flex;
align-items: center;
flex-direction: column;
}

h1 {
  text-align: center;
  color: #8C0204;
  text-shadow: 0 0 5px rgba(0,0,0,0.5);
  font-family: 'Denk One'; font-size: 22px;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 2.1em;
  margin-bottom: 13%;
  filter: blur(1.5px);
}

#time{
  text-align: center;
  color:#FBFCFA;
  font-size: 2.2em;
  margin-top: 10px;
}

.site-footer {
  position: fixed;
  left:0;bottom:0;right:0;
  text-align: center;
  padding: 0.6%;
  width: '100%';
  color: #FBFCFA;
  background-color: #0C1114;
}
.bouton {
	width:180px;
	height:180px;
	background:#8C0204;
	font:bold 30px Arial;
	border-radius:50%;
	border:none;
  color: #0C1114;
	
}

.bouton:hover {
	width:180px;
	height:180px;
	background:#8C0204;
	font:bold 30px Arial;
	border-radius:50%;
	border: 0.1rem solid;
  color: #FBFCFA;
  border-color: #FBFCFA;
  filter: blur(1.5px);
}

* {
  outline: 0;
}